[submodule "assignments/totes-app/backend"]
	path = assignments/totes-app/backend
	url = https://github.com/asliAdarsh/totes-backend.git
[submodule "assignments/totes-app/frontend"]
	path = assignments/totes-app/frontend
	url = https://github.com/asliAdarsh/totes-frontend.git
[submodule "git-exercises/git-katas"]
	path = git-exercises/git-katas
	url = https://github.com/eficode-academy/git-katas.git
